@charset "utf-8";
body{
  height: 100vh;
  width: 100vw;
  text-align: center;
  position:relative;
  background-color: #a6d5e3;
}
.box{
  display: inline-block;
  position:absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
}
.waku{
  border: solid 2px #FFFFFF;
}
a{
  text-decoration: none;
  color: #FFFFFF;
  border: solid #FFFFFF .5px;
  width: 50px;
}
.toroku{
  color: #FFFFFF;
  border: solid #FFFFFF .5px;
  padding: auto;
}
.title{
  display: flex;
  justify-content: space-between;
}
.kakusu{
  color: #a6d5e3;
}
