@charset "utf-8";
main{
  padding-top: 10vh ;
  padding-left: 10vw;
  height: auto;
  width: 100%;
}
.header{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.waku{
  display: flex;
  height: 50%;
  width: 85%;
}
.name{
  color: #2b2b2b;
  text-decoration:none;
}
fieldset{
  width: 100%;
  color: #B0DEEC;
  text-align: center;
  border: none;
}
.kotoba{
  width: 40%;
  position: relative;
}
.kotoba1{
  width: 75%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0px;
  margin-left: 7%;
  padding-right: 0px;
}
.namae{
  color: #2b2b2b;
}
a{
  text-decoration: none;
  color: #2b2b2b;
}
.menu *{
  display: inline-block;
  width: 5vw;
}
.menu{
  width: 80vw;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px)
{
  /*全体*/
  main{
    width: 100vw;
    padding: 10% 5%;
  }
/*ヘッダー*/
  .header{
    width: 100vw;
  }
  .kotoba{
    width: 90%;
  }
/*リスト*/
  .waku{
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
  }
  legend{
    color: #38b9e0;
  }
  fieldset{
    width: 30vw;
    margin-top: 2.5rem;
  }
  .menu{
    width: 90vw;
  }
  .menu *{
    width: 20%;
    padding-top: 3rem;
  }
}
