@charset "utf-8";
/*共通部分*/
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border: solid 1px #FFFFFF;
}
li, a {
  list-style-type: none;
  text-decoration: none;
  color: #6E6E6E;
}

/*左側*/
.hidariwaku{
  width: 20rem;
  border: solid 0.8rem #B0DEEC;
  border-radius: 5%;
  padding-left: 20px;
}
.left{
  margin: auto;
  line-height: 2.5em;
}
span{
  font-weight: bolder;
}

/*右側*/
.right {
  background-color: #B0DEEC;
  position: relative;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
nav > ul > li {
  text-align: center;
  list-style-type: none;
  width: 7.5vw;
  height: 4vh;
  padding: 0.25em 0.5em;
  background-color: #FFFFFF;
  border-radius: 10px;
}
nav > ul > li > a:hover {
  color: #BDBDBD;
}
h1{
  margin-top: 35vh;
  margin-left: 30%;
  color: #FFFFFF;
  letter-spacing: 13px;
}
.shuchi {
  width: 23rem;
  height: 9.5rem;
  padding: 5px 10px;
  background-color: blanchedalmond;
  margin-top: 18vh;
  margin-left: 17vw;
  border-radius: 5px;
}
.announce {
  width: 23rem;
  height: 10rem;
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  border-radius: 2%;
  position: absolute;
  bottom: 5vh;
  right: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.announce > a {
  display: inline-block;
}

@media (max-width: 650px)
{

  /*全体*/
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .left {
    order: 2;
  }
  .right {
    order: 1;
    height: 33%;
  }

  /*消す*/
  .shuchi {
    display: none;
  }

  h1 {
    color: black;
    margin-top: 30vh;
    height: 40%;
    width: 55%;
    margin-right: 50%;
  }

  .hidariwaku {
    margin-top: 9rem;
  }

}