@charset "utf-8";
/*共通部分*/
body{
  height: 100vh;
}
main{
  display: flex;
  justify-content: space-between;
  border: solid 1px #FFFFFF;
  height: 100vh;
}
li, a {
  list-style-type: none;
  text-decoration: none;
  color: #6E6E6E;
}

/*左側*/
.left{
  width: 50%;
  line-height: 2.5em;
  position: relative;
}
.hidariwaku{
  width: 60%;
  border: solid 0.8rem #B0DEEC;
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
span{
  font-weight: bolder;
}

/*右側*/
.right {
  width: 50%;
  background-color: #B0DEEC;
  flex-direction: column;
}
/*右上*/
nav{
  margin-top: 8vh;
}
nav > ul {
  display: flex;
  justify-content: space-around;
}
nav > ul > li {
  text-align: center;
  list-style-type: none;
  padding: 0.25em 0.5em;
  background-color: #FFFFFF;
  border-radius: 10px;
}
nav > ul > li > a:hover {
  color: #BDBDBD;
}
/*右中*/
h1{
  color: #FFFFFF;
  letter-spacing: 13px;
  position: absolute;
  top: 38%;
  padding: 0 10%;
}

/*右下*/
.bottom{
  width: 50%;
  position: absolute;
  bottom: 10vh;
  padding: 0 5%;
  height: auto;
}
.right > p {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 4px 5px 2px 5px;
}
.announce {
  height: auto;
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.announce > li {
  color: black !important;
}
.announce>a{
  display: inline-block;
  width: 10%;
}

@media (max-width: 600px)
{
  /*全体*/
  .left {
    display: none;
  }
  main,body{
    width: 100vw;
    height: 100%;
  }
  .right {
    width: 100vw;
    height: 100%;
    background-color: #FFFFFF;
  }
  /*ナビ（上）*/
  nav {
    height: 30%;
    width: 100%;
    margin: 0;
    border: solid 0.8rem #B0DEEC;
  }
  #right > nav > ul {
    display: flex;
    flex-direction: column;
    /*上書き*/
    margin-top: 0px;
  }
  #right > nav > ul > li {
    display: inline-block;
    height: auto;
    margin-top: 2%;
    margin-left: 0.5%;
    border: solid 0.6em #B0DEEC;
  }
  #right > nav > ul > li:first-child{
    width: 50%;
  }
  #right > nav > ul > li:nth-child(2){
    width: 50%;
    position: relative;
    left: 25%;
    margin: 2.5% 0%;
  }
  #right > nav > ul > li:last-child {
    width: 50%;
    position: relative;
    left: 49%;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  nav > a {
    display: inline-block;
    width: 100vw;
    height: 10vh;
  }

  h1 {
    padding: 0%;
    color: black;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  /*周知事項（下）*/
  .bottom{
    width: 80%;
    bottom: 5%;
  }
  p{
    padding-left: 2%;
  }
  .announce {
    width: 100%;
    margin-bottom: 5vh;
  }


}