@charset "utf-8";
/*共通部分*/
main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border: solid 1px #FFFFFF;
}
li, a {
  list-style-type: none;
  text-decoration: none;
  color: #6E6E6E;
}

/*左側*/
.hidariwaku{
  width: 20rem;
  border: solid 0.8rem #B0DEEC;
  border-radius: 5%;
  padding-left: 20px;
}
.left{
  margin: auto;
  line-height: 2.5em;
}
span{
  font-weight: bolder;
}

/*右側*/
.right {
  background-color: #B0DEEC;
  position: relative;
}
nav > ul {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
nav > ul > li {
  text-align: center;
  list-style-type: none;
  width: 7.5vw;
  height: 4vh;
  padding: 0.25em 0.5em;
  background-color: #FFFFFF;
  border-radius: 10px;
}
nav > ul > li > a:hover {
  color: #BDBDBD;
}
h1{
  margin-top: 35vh;
  margin-left: 30%;
  color: #FFFFFF;
  letter-spacing: 13px;
}
.right > p {
  position: absolute;
  bottom: 28vh;
  left: 28%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 4px 5px 2px 5px;
}
.announce {
  width: 23rem;
  height: 10rem;
  padding: 0.5rem 1rem;
  background-color: #FFFFFF;
  border-radius: 2%;
  position: absolute;
  bottom: 5vh;
  right: 24%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.announce > li {
  color: black !important;
}
.announce > a {
  display: inline-block;
}

@media (max-width: 600px)
{
  /*全体*/
  .left {
    display: none;
  }
  .right {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
  }
  /*ナビ（上）*/
  nav {
    height: 40vh;
    width: 100vw;
    border: solid 0.8rem #B0DEEC;
  }
  #right > nav > ul {
    display: flex;
    flex-direction: column;
    /*上書き*/
    margin-top: 0px;
    padding-top: 10px;
  }
  #right > nav > ul > li {
    display: inline-block;
    background-color: #B0DEEC;
    width: 30vw;
    padding-bottom: 1.5em;
    padding-left: 8px;
    margin-bottom: 1.5em;
    border: solid 0.8em #B0DEEC;
  }
  #right > nav > ul > li:first-child{
    margin-left: 5px;
  }
  #right > nav > ul > li + li {
    width: 21vw;
    position: relative;
    left: 30vw;
  }
  #right > nav > ul > li:last-child {
    width: 40vw;
    position: relative;
    left: 51.5vw;
  }
  nav > a {
    display: inline-block;
    width: 100vw;
    height: 10vh;
  }

  h1 {
    color: black;
    width: 50vw;
    position: absolute;
    top: 12vh;
    left: 20vw;
  }
  /*周知事項（下）*/
  .announce {
    width: 75vw;
    height: 30vh;
    margin-bottom: 5vh;
  }


/*
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .left {
    order: 2;
    width: 100vw;
  }
  .right {
    order: 1;
    width: 100vw !important;
  }
  ul {
    display: flex;
    flex-direction: column;
  }
  ul > li{
    /*.rightに対しての大きさになってるから。
    width: 100vw !important;
  }
  .shuchi {
    background-color: #FFFFFF;
    width: 100vw;
  }
  .announce > a {
    display: inline;
  }
  /*消す
  .announce {
    display: flex;
    justify-content: space-between;
    width: 100vw !important;
  }
/*
  h1 {
    color: black;
    height: 40%;
    width: 50vw;
    background-color: #BDBDBD;
  }

  .hidariwaku {
    width: 100vw !important;
  }
}

*/
}