@charset "utf-8";

li{
    list-style-type: none;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
span{
  font-weight: bolder;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border: solid 1px #FFFFFF;
}
nav > ul{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.left{
  margin: auto;
  line-height: 2.5;
}

main > .right{
  background-color: #B0DEEC;
}

h1{
  margin-top: 40vh;
  margin-left: 35%;
}
main > .right > h1{
  color: #FFFFFF;
}

.announce{
  color: #FFFFFF;
  position: absolute;
  bottom: 40px;
  right: 20px;
  display: flex;
  align-items: flex-end;
}
