@charset "utf-8";
body{
  width: 100%;
  padding: 5% 7%;
}
a{
  text-decoration: none;
  color: black;
}
.ue{
  width: 90%;
  height: 100%;
  margin-bottom: 5rem;
  margin-left: 2%;
}
.ue1{
  display: flex;
  align-items: center;
  margin-bottom: 6%;
}
.ue1 > p{
  border-bottom: 3.5px solid #B0DEEC;
}
h2{
  width: 8%;
  text-align: center;
}
.ue2{
  height: 25rem;
}
.ue2 > p{
  height: 18%;
}
.shitumon{
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 6rem;
}
textarea {
  border: 3.5px solid #B0DEEC;
  border-radius: 10px;
}
.shitumon{
  text-align: center;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 2.1%;
}
.menu > a{
  display: block;
}
