@charset "utf-8";

body{
  width: 100%;
  height: 100%;
  padding: 0 10%;
}
h3{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 30%;
  text-align: center;
  margin-top: 3rem;
  border-bottom: #B0DEEC solid 4px;
}
img{
  vertical-align: bottom;
}
.zentai2{
  display: flex;
  justify-content: center;
}
.zentai2 > p{
  margin-right: 3rem;
}
th{
  text-align: left;
  padding-right: 3rem;
}
td{
  border-bottom: #e2ecee solid 2.5px;
  padding-left: 3rem;
}
.zentai > a{
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%;
  width: 7%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 4%;
}

/* 未入力の場合 */
.mi{
  width: 20%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}
.mi > p{
  height: 5rem;
}
@media (max-width: 600px)
{
  body {
    width: 100vw;
  }
  .zentai >a{
    width: 20vw !important;
    height: 2rem !important;
    padding-top: 0.25rem;
  }
}