@charset "utf-8";
body{
  width: 95vw;
  margin: 20px;
  margin-bottom: 10vh;
}
.hidari > a {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.hidari > img, .hidari > h1{
  display: block;
  padding-top: 10px;
}
.hidari{
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 10vh;
  letter-spacing: 20px;
}
.hidari > a > h1 {
  width: 18vw;
}
.hidari > img {
  width: 1vw;
}
a{
  text-decoration: none;
  color: #2b2b2b;
}
nav{
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
nav > a ,nav > p{
  display: inline-block;
  margin-top: 2.5vh;
  width: 10vw;
  height: 5vh;
}
nav > a:hover , nav > p:hover{
  width: 10vw;
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #F3F3F3;
  border-radius: 15px;
}
.kibun{
  margin-left: 30%;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  border: solid #B0DEEC 4px;
  border-radius: 10px;
}
.area{
  border: solid 3.5px #B0DEEC;
  width: 40vw;
  height: 30vh;
  border-radius: 10px;
}
.zenhan{
  padding-top: 5vh;
  padding-bottom: 10vh;
  border-bottom: solid 4px #2b2b2b;
  margin-bottom: 10vw;
}
.zenhan1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.emotion{
  text-align: center;
}
.kouhan{
  margin-top: 20px;
}
.a , .b , .c {
  display: inline-block;
  width: 450px;
  height: 100px;
  border: solid #B0DEEC 3.5px;
  border-radius: 10px;
}
.makasete{
  margin-bottom: 10vh;
}
.makasete1{
  display: flex;
  justify-content: space-around;
}
.kohan1{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 4px #2b2b2b;
  height: 22.5vw;
  margin-bottom: 8vh;
}
.nav2{
  display: flex;
  width: 30vw;
  justify-content: flex-end;
}
.nav2>a ,.nav2>p{
  display: inline-block;
  text-align: center;
  margin-top: 2.5vh;
  width: 10vw;
  height: 5vh;
}
.nav2>p:hover{
  width: 10vw;
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #F3F3F3;
  border-radius: 15px;
}
@media (max-width: 600px)
{
  /*共通*/
  body {
    width: 100vw;
    padding-right: 3vw;
    margin-bottom: 10vh;
  }
  .area{
    width: 80vw;
    height: 15vh;
  }
  /*ヘッダー*/
  .header {
    border-bottom: none;
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
  }
  .hidari>img{
    width: 1.5vw;
    margin-bottom: 0.25rem;
  }
  .hidari>a > h1{
    display: none;
  }
  .header>.migi{
    text-align: center;
    width: 47vw;
    margin-right: 1vw;
    order: 2;
  }
  .hidari{
    order: 1;
  }

  /*ナビ*/
  nav{
    width: 90vw;
    border-bottom: solid 3.5px #2b2b2b;
  }
  nav> a, nav>p{
    display: block;
    width: 30vw;
    padding-bottom: 0.5rem;
  }
  nav > a:hover , nav > p:hover{
    display: block;
    background: #F3F3F3;
    width: 30vw;
  }
  /*1ブロック目*/
  .zenhan{
    width: 90vw;
    margin-bottom: 0;
  }
  .zenhan1{
    display: flex;
    flex-direction: column;
  }
  .now{
    order: 1;
  }
  .time{
    order: 2;
    margin-bottom: 0;
    height: 10vh;
  }
  .emotion>p{
    margin-left: 0%;
  }
  .kibun{
    width: 87vw;
    margin-left: 0vw;
  }
  .zenhan>p{
    margin-left: 0px;
    padding-left: 0px;
  }
  .emotion>p:first-child{
    text-align: left;
  }
  /*真ん中*/
  .kohan1{
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    height: 45vh;
    margin-bottom: 0%;
  }
  /*１番下*/
  .makasete{
    margin-bottom: 0vh;
    padding-top: 5vh;
  }
  .makasete1{
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  /*下のナビ*/
  .navzentai{
    width: 90vw;
  }
  .nav2{
    display: flex;
    justify-content:space-around ;
    text-align: center;
    width: 90vw;
    border-top: solid 3.5px #2b2b2b;
    padding-top: 3vh;
  }
  .nav2>p{
    display: inline-block;
    margin-top: 2.5vh;
    width: 30vw;
    height: 5vh;
  }

  .nav2>p:hover{
    padding: 0em 0em;
    width: 30vw;
    background-color: #F3F3F3;
    height: 2rem;
  }

/*
  .nav2{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 10vh;
    border-top: solid 3.5px #2b2b2b;
  }
  .nav2 :nth-child(1){
    padding-top: 0.25rem;
  }
  .nav2 :nth-child(2){
    width: 22vw;
    padding-top: 0.5rem;
  }
  .nav2>p{
    width: 19vw;
  }
  */
}