@charset "utf-8";
body{
  width: 98.5vw;
  padding: 5%;
}
.area{
  border: solid 3.5px #B0DEEC;
  width: 40vw;
  height: 90%;
  border-radius: 10px;
}
.hidari > a {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-right: 4%;
}
.hidari > img, .hidari > h1{
  display: block;
  padding-top: 10px;
}
.hidari{
  display: flex;
  justify-content: space-between;
  width: 20vw;
  height: 10vh;
  letter-spacing: 20px;
}
.hidari > a > h1 {
  width: 18vw;
}
.hidari > img {
  width: 1vw;
}
a{
  text-decoration: none;
  color: #2b2b2b;
}
/*ナビ*/
nav{
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
nav > a ,nav > p{
  display: inline-block;
  margin-top: 2.5vh;
  height: 5vh;
  margin-left: 5vw;
}
nav>p{
  width: 10vw;
}
nav > a:hover , nav > p:hover{
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #F3F3F3;
  border-radius: 15px;
}
/*1番目*/
.kibun{
  margin-left: 23%;
  width: 55%;
  display: flex;
  justify-content: space-around;
  border: solid #B0DEEC 4px;
  border-radius: 10px;
}
.zenhan{
  padding: 5%;
  border-bottom: solid 4px #2b2b2b;
}
.zenhan1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.emotion{
  text-align: center;
  padding-top: 10%;
}

/*真ん中*/
.kohan1{
  height: 50vh;
  padding: 10vh 5;
  display: flex;
  justify-content: space-around;
}
/*一番下*/
.a , .b , .c {
  display: inline-block;
  width: 450px;
  height: 100px;
  border: solid #B0DEEC 3.5px;
  border-radius: 10px;
}
.makasete{
  margin-top: 5vh;
  margin-bottom: 10vh;
  border-top: solid 4px #2b2b2b;
  border-bottom: solid 4px #2b2b2b;
  padding: 13vh 0;
}
.makasete1{
  display: flex;
  justify-content: space-around;
}
/*下のナビ*/
.nav2{
  display: flex;
  justify-content: flex-start;
}
.nav2>a ,.nav2>p{
  display: inline-block;
  text-align: center;
  margin-top: 2.5vh;
  margin-right: 5vw;
  height: 5vh;
}
.nav2>p:hover{
  vertical-align: top;
  height: 5vh;
  padding: 0.25em 0.5em;
  background: #F3F3F3;
  border-radius: 15px;
}
@media (max-width: 600px)
{
  /*共通*/
  body {
    width: 100vw;
    padding: 5%;
    margin: 0%;
  }
  .area{
    width: 80%;
    height: 15vh;
  }
  /*ヘッダー*/
  .header {
    border-bottom: none;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0%;
  }
  .hidari>img{
    width: 1.5vw;
    margin-bottom: 0.25rem;
  }
  .hidari>a > h1{
    display: none;
  }
  .header>.migi{
    text-align: center;
    width: 75%;
    order: 2;
  }
  .hidari{
    order: 1;
  }

  /*ナビ*/
  nav{
    border-bottom: solid 3.5px #2b2b2b;
    justify-content: space-between;
    padding-bottom: 3%;
  }
  nav> a, nav>p{
    display: block;
  }
  nav > a:hover , nav > p:hover{
    display: block;
    background: #F3F3F3;
    width: auto;
  }
  /*1ブロック目*/
  .zenhan{
    margin-bottom: 0;
    padding: 0%;
  }
  .zenhan1{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .now{
    order: 1;
  }
  .time{
    order: 2;
    margin-bottom: 0;
    height: 10vh;
  }
  .emotion{
    padding-bottom: 10%;
  }
  .emotion>p{
    margin-left: 0%;
  }
  .kibun{
    width: 100%;
    margin-left: 0vw;
  }
  .zenhan>p{
    margin-left: 0px;
    padding-left: 0px;
  }
  .emotion>p:first-child{
    text-align: left;
  }
  /*真ん中*/
  .zikan{
    padding-top: 18%;
  }
  .kohan{
    border-bottom: none;
    width: 90%;
  }
  .kohan1{
    width: 90vw;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    padding-bottom: 5%;
    height: 45vh;
    margin-bottom: 0%;
  }
  /*１番下*/
  .makasete{
    margin-bottom: 0vh;
    padding: 5vh;
    border-bottom: none;
  }
  .makasete1{
    display: flex;
    flex-direction: column;
  }
  .makasete1>textarea{
    width: 100%;
  }

  /*下のナビ*/
  .nav2{
    display: flex;
    justify-content:space-around ;
    text-align: center;
    border-top: solid 3.5px #2b2b2b;
    padding-top: 3vh;
    margin-bottom: 10%;
  }
  .nav2>p{
    display: inline-block;
    margin-top: 2.5vh;
    width: 30vw;
    height: 5vh;
  }

  .nav2>p:hover{
    padding: 0em 0em;
    width: 30vw;
    background-color: #F3F3F3;
    height: 2rem;
  }

}